.frenches-btn {
  background-color: #ffc107;
  margin-top: 2rem;
  border-radius: 10px;
  height: 5rem;
  padding: 1.1rem !important;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
